<form #professionalForm="ngForm">
    <app-layout>
        <h2>Produtos / Serviços <i class="fas fa-angle-find"></i> <span>{{ !modoAlteracao ? 'Cadastrar' : 'Editar'}}</span></h2>

        <p *ngFor="let alert of alerts">
            <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
        </p>

        <div class="card-body">
            <h6 class="title-page">Cadastro</h6>
            <span class="info-form">Dados</span>
            <div class="container-form">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nome:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="completeName" maxlength="50" #ctrlCompleteName="ngModel" [(ngModel)]="produtoModel.name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Descrição:</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" name="descricao" maxlength="1000" #ctrldescricao="ngModel" [(ngModel)]="produtoModel.description"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Valor:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="valor" #ctrlValor="ngModel" [(ngModel)]="produtoModel.valor">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Tempo do serviço em Minutos:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="timeDuration" #ctrlTimeDuration="ngModel" [(ngModel)]="produtoModel.serviceTime">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Desconto para assinantes platinum:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="discountPlatinum" #ctrlDiscountPlatinum="ngModel" [(ngModel)]="produtoModel.discountPlatinum">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Desconto para assinantes Silver:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="discountSilver" #ctrlDiscountSilver="ngModel" [(ngModel)]="produtoModel.discountSilver">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Desconto para assinantes Gold:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" name="discount" #ctrlDiscount="ngModel" [(ngModel)]="produtoModel.discount">
                    </div>
                </div>

            </div>
            <hr class="line-detail">
            <span class="info-form">Tipo</span>
            <div class="container-form">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label custom-label">Selecione o tipo do item vendido, produto ou serviço:</label>
                    <div class="col-sm-7">
                        <select name="type" id="type" class="form-control" #ctrlType="ngModel" [(ngModel)]="produtoModel.type">
                        <option value="Produto">Produto</option>
                        <option value="Servico">Serviço</option>
                      </select>
                    </div>
                </div>
            </div>
            <hr class="line-detail">
            <span class="info-form">Tipo Negócio</span>
            <div class="container-form">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label custom-label">Selecione o tipo do negócio da empresa, Yoolo ou Club:</label>
                    <div class="col-sm-7">
                        <select name="type" id="type" class="form-control" #ctrlType="ngModel" [(ngModel)]="produtoModel.typeCompany">
                        <option value="Club">Club</option>
                        <option value="Yoolo">Yoolo</option>
                      </select>
                    </div>
                </div>
            </div>

            <div class="row upload-file mgT50">
                <div class="col-md-12">
                    <a class="button-file" href="javascript:void(0)" (click)="file.click()">
                        <img *ngIf="!imageBase64" src="assets/icons/icon-upload.svg" alt="">
                        <img *ngIf="imageBase64" src="{{ imageBase64 }}" />
                    </a>
                    <p class="title-button-file">
                        Clique ou arraste o arquivo até esta área reservada
                    </p>
                    <input type="file" #file [multiple]="(maxFiles > 1)" (change)="onFileChange($event)" style="display:none" />
                </div>
            </div>
            <div class="bottom-card">
                <button class="btn btn-cancel-form" (click)="cancel()">Cancelar</button>
                <button class="btn btn-save-form" (click)="save()">Salvar</button>
            </div>
        </div>
    </app-layout>
</form>