/* menu style */

.menu{
    width: 255px;
    min-height: 100vh;
    background: #343c49;
    float: left;
    margin-top: -60px;
    height: 100%;
}

.logo{
    max-width: 140px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.item-menu{
    display: block;
}

button:focus{
    outline: none !important;
}

.dropdown-menu.show {
    position: relative;
    top: 0 !important;
    left: 0 !important;
}

.item{
    width: 100%;
    background: #31363f;
    color: rgba(199, 199, 199, 0.85);
    margin-bottom: 0px;
    text-align: left;
    border: 0px none;
    padding-left: 25px;
    line-height: 35px;
    font-size: 13px;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}

.item:hover{
    background-color: #343c49;

}

.dropdown-toggle::after {
    content: "";
    border: 0;
    margin-left: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown-toggle .icon-down {
    position: absolute;
    right: 45px;
    top: 25px;
}

.dropdown-menu.show {
    cursor: pointer;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    padding: 5px 0px 10px 20px;
    margin: 0px;
    background: #04b6ba;
}


.dropdown-item {
    cursor: pointer;
    color: #fff;
    padding-left: 40px;
    font-size: 13px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-item:hover{
  background: transparent;
}


.item-icon {
    margin-right: 15px;
}

.active {
    background: red;
}

/* conteudo style */

.main{
    width: calc(100% - 255px);
    float: left;
    min-height: calc(100vh - 60px);
    padding: 20px;
    background: #f2f8f9;
}


/* header style */

.navbar{
    width: calc(100% - 255px);
    margin-left: 255px;
    background: #ffffff;
    height: 60px;
    box-shadow: 4px -4px 5px 4px rgba(221, 221, 221, 0.15);
}

.option {
    float: right;
}

.menu-link i {
    color: #04b6ba;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.options-right i {
    color: #d5d5d5;
    font-size: 16px;
    margin-left: 5px;
    float: right;
}

.sem-menu .menu{
    display: none;
}

.sem-menu .main{
    width: 100% !important;
}

.sem-menu .navbar{
    width: 100% !important;
    margin-left: 0px !important;
}
