<app-layout>
  <h2>Clientes <i class="fas fa-angle-right"></i> <span>Gerenciar</span></h2>
  <div class="card-body">
    <button class="btn add" routerLink="/clientes/cadastrar"><i class="fas fa-plus"></i> Novo cliente</button>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 50%">Nome</th>
            <th scope="col" style="width: 40%">E-mail</th>
            <th scope="col" class="center" style="width: 10%">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliItem of clients">
            <td style="word-break: break-word;">{{cliItem.name}}</td>
            <td style="word-break: break-word;">{{cliItem.email}}</td>
            <td class="center"><div class="options"><i class="fas fa-pencil-alt editar" (click)="alterar(cliItem)"></i> <i class="far fa-trash-alt excluir"></i></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-layout>